.statistic {
    &__container {
        display: flex;
        gap: 2rem;
        align-items: center;
        @media screen and (max-width:1023px) {
            flex-direction: column;
        }
    }
    &__content {
        flex: 1 1 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @media screen and (max-width:1023px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
    &__image {
        flex: 1 1 40%;
        border-radius: 0 50% 50% 50%;
        box-shadow: 0px 0px 10px 1px rgb(253, 143, 0);
        width: 100%;
    }
}
.card-statistic {
    background-color: colors.$background-grey;
    border-radius: 30px;
    padding: clm-rem(1.5, 1440, 2.5);
    min-height: 17.375rem;
    &__value {
        @include mixins.textParams(clm-rem(2.5, 1440, 3.2), colors.$text-title, 500, 1.2, normal);
    }
    &__text {
        @include mixins.textParams(clm-rem(0.8, 1440, 1.125), colors.$text-default, 300, 1.5, normal);
    }
}