// ***BACKGROUND
$background-default: #0d0d11;
$background-grey: #81818b33;

// ***COLOR TEXT
$text-default: #9c9c9c;
$text-title: #ffffff;
$text-btn: #ffffff;

// ***COLOR BUTTON
$btn-blue: #3d96f4;
$btn-blue-hover: #3d95f4b2;
$btn-grey: #81818b33;
$btn-grey-hover: #81818b70;

// ***LINK HOVER
$link-hover: #3d96f4;
