// ***BACKGROUND
$background-default: #0D0D11;
$background-grey: #81818b33;

// ***COLOR TEXT
$text-default: #9C9C9C;
$text-title: #FFFFFF;
$text-btn: #FFFFFF;

// ***COLOR BUTTON
$btn-blue: #3D96F4;
$btn-blue-hover: #3d95f4b2;
$btn-grey: #81818b33;
$btn-grey-hover: #81818b70;

// ***LINK HOVER
$link-hover: #3D96F4;

